@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --opacity: .3;
    --background-color: #f5f5f5;
    --main-font: #efefef; 
    --black: #0c0c0c;
    --blue: #0500fa;
    --lightblue: #4d6afc;
    --pink: #fa00f0;
    --orange: #fa8700;
    --hover: #b9b9b9;
    --margin: clamp(10px, 6vw, 150px);
}

body{
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    margin: 0px;
    overflow-x: hidden;
    background-color: var(--background-color);
}

img{
    max-width: 100%;
    height: auto;
}

/* background-gradient */

.moving-background-gradient{
    position: fixed;
    width: clamp(550px, 60vw, 725px);
    height: clamp(550px, 60vw, 725px);
    border-radius: 50%;
    animation: background-animation 60s linear infinite;
    filter: blur(50px);
    opacity: var(--opacity);
    z-index: -1;
}

.blue{
    background: radial-gradient(var(--blue),rgba(255, 255, 255, 0));
    opacity: calc(var(--opacity) * 0.75);
}

.pink{
    background: radial-gradient(var(--pink),rgba(255, 255, 255, 0));
    animation-delay: -40s;
}

.orange{
    background: radial-gradient(var(--orange),rgba(255, 255, 255, 0));
    animation-delay: -20s;
}

/* nav */

.menu{
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-right: 20px;
    margin-top: 0px;
    list-style: none;
}

ul li{
    padding-left: clamp(10px, 3vw, 30px);
    padding-right: clamp(10px, 3vw, 30px);
    padding-top: 2vw;
}

ul li a{
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--black);
}

.menu li a:hover{
    color: var(--hover);
    transition: all 0.5s ease;
}

.selected{
    font-weight: bold;
}

/* scrolling-words-container */

.wrapper{
    display: flex;
    justify-content: left;
}
  
.scrolling-words-container{
    display: flex;
    align-items: center;
    font-size: clamp(2rem, 8vw, 6.25rem);
    font-weight: 700; 
}
  
.scrolling-words-box{
    height: clamp(4.125rem, 10vw, 7.25rem);
    margin: auto;
    overflow: hidden;
    font-weight: 400;
}

.scroll{
    margin: 0px;
    margin-left: clamp(0.1, 2.5vw, 2.25rem);
    padding: 0;
    animation: scrollUp 4s infinite;
}

.scroll-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: clamp(3rem, 10vw, 7.25rem);
    list-style: none; 
    color: var(--lightblue);
}

/* general styling */

.frontpage{
    color: var(--black);
    margin-left: var(--margin);
    margin-top: 150px;
    white-space: nowrap;
}

.frontpage h3{
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--black);
    margin-bottom: 1rem;
}

.pretitle{
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0;
}

.black{
    color: var(--black);
}

.white{
    color: var(--main-font);
}

h1{
    color: var(--lightblue);
    font-size: 4rem;
    font-weight: 600;
    margin: 0;
}

p{
    color: var(--main-font);
    font-size: 1.25rem;
    font-weight: 400;
}

/* about-page */

.about-greybox{
    display: flex;
    align-items: center;
    width: 90vw;
    background-color: #3a3a3a;
    margin-top: 50px;
}

.about-text{
    margin-left: var(--margin);
    margin-right: var(--margin);
    color: #E3E3E3;
}

.about-greybox img{
    min-width: 250px;
    width: 100%;
    max-width: 324px;
    height: auto;
    margin: 30px 30px 30px 0px;
}

a{
    text-decoration: none;
    color: var(--lightblue);
}

a:hover{
    text-decoration: none;
    color: #b9b9b9;
}

/* work-page */

.work-wrapper{
    display: flex;
    align-items: center;
}

.work-text{
    margin-right: var(--margin);
}

.mywork{
    color: var(--black);
}

ol{
    background-color: white;
    margin-right: var(--margin);
    width: clamp(350px, 50vw, 500px);
    list-style: none;
    counter-reset: num;
}

ol li{
    padding: 20px 20px 20px 0px;
    font-size: clamp(2rem, 4vw, 3rem);
    counter-increment: num;
    white-space: nowrap;
}


ol li a{
    color: var(--black);
    font-size: clamp(1.75rem, 4vw, 3rem);
    font-weight: 400;
}

ol li::before{
    content: "0" counter(num);
    font-weight: 700;
    color: var(--lightblue);
    margin-right: 20px;
}

li.work-item::marker{
    color: var(--lightblue);
    font-size: 3.5rem;
    font-weight: 800;
}

ol li a:hover{
    color: var(--hover);
    transition: all 0.5s ease;
}

/* contact-form */

.contact-main{
    margin-left: var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

input, textarea{
    background-color: white;
    border: none;
    font-family: 'Inter', sans-serif;
    width: clamp(300px, 40vw, 600px); 
    margin: 8px 0px;
    font-size: 1rem;
    padding: 15px;
}

textarea{
    height: 200px;
}

button{
    border-radius: 0px;
    color: var(--lightblue);
    background-color: transparent;
    padding: 7px 50px 7px 50px;
    border-color: var(--lightblue);
    border-style: solid;
    font-size: 1.25rem;
}

#message{
    resize: none;
}

.contact-info{
    background-color: var(--lightblue);
    width: 350px;
    height: fit-content;
    padding: 20px;
}

.contact-info a{
    color: white;
    opacity: 30%;
    padding-left: 3px;
    padding-right: 7px;
}

.icons{
    vertical-align: middle;
    font-size: 2rem !important;
}

/* content-pages */

.content-wrapper{
    display: flex;
    margin: var(--margin);
    align-items: center;
}

.img-content{
    max-width: clamp(400px, 50vw, 500px);
    margin-right: var(--margin);
    flex-shrink: .7;
}

#ball-animation{
    width: 400px;
    height: auto;
}

/* sprite-animation */

.sprite-wrapper{
    background-color: var(--lightblue);
    width: fit-content;
    margin-right: 70px;

}

.sprite-animation{
    height: 300px;
    width: 300px;
    background: url(../img/sprite.png);
    background-size: 4800px 300px;
    animation-name: chemistry;
    animation-duration: 3s;
    animation-timing-function: steps(16);
    animation-iteration-count: infinite;
}

/* scrolling-words-container animation */

@keyframes scrollUp{
    0%{
        transform: translateY(-4%);
    }

    33%{
        transform: translateY(-28%);
    }

    66%{
        transform: translateY(-54%);
    }

    100%{
        transform: translateY(-79%);
    }
}

/* background-blur animation */

@keyframes background-animation{
    0%{
        transform: translate(80vw, 5vh);
    }

    20%{
        transform: translate(30vw, 10vh);
    }

    40%{
        transform: translate(25vw, 40vh);
    }

    60%{
        transform: translate(50vw, 60vh);
    }

    80%{
        transform: translate(90vw, 40vh);
    }


    100%{
        transform: translate(80vw, 5vh);
    }

}

/* sprite-animation */

@keyframes chemistry{
    0%{background-position: 0px;}
    100%{background-position: -9600px;}
}


@media only screen and (max-width: 900px){
    .work-wrapper{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .work-text{
        margin-left: var(--margin)
    }

    .content-wrapper{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .img-content{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px){
    .menu{
        padding: 0px;
        justify-content: space-between;
        margin: var(--margin);
        margin-bottom: 50px;
    }

    .menu-item{
        padding: 0px;
    }

    .work-text{
        width: 90vw;
    }

    .about-greybox{
        flex-direction: column;
        width: 100%;
    }

    @keyframes scrollUp{
        0%{
            transform: translateY(0%);
        }
    
        33%{
            transform: translateY(-25%);
        }
    
        66%{
            transform: translateY(-50%);
        }
    
        100%{
            transform: translateY(-75%);
        }
    }
}





.arrow-animation p{
    color: black;
    transition: all 500ms ease;
}

.hoverbox{
    background-color: var(--lightblue);
    width: 0px;
    height: 30px;
    transition: all 500ms ease;
    position: absolute;
    z-index: -1;
}

.link-arrow{
    transition: all 500ms ease; 
}

.arrow-animation{
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: fit-content;
}

.arrow-animation:hover .hoverbox{
    width: 235px;
}

.arrow-animation:hover .hoverbox-text{
    color: white;
    transform: translateX(-5px);
}

.arrow-animation:hover .link-arrow{
    color: white;
    transform: translateX(205px);
    font-size: 1.25rem;
}

.hoverbox-text{
    font-size: 1.25rem;
}

